<nav class="navbar navbar-expand-md fw-bold navbar-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler ms-2 ms-md-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-2 ms-md-0" id="navbarLinks">
        <ul class="navbar-nav mx-auto toplinks mb-2 mb-md-0">
            <li class="nav-item">
                <a id="homelink" class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item my-2 my-md-0 mx-md-3">
                <a id="projectslink" class="nav-link " href="/projects">Projects</a>
            </li>
            <li class="nav-item mb-2 mb-md-0">
                <a id="aboutlink" class="nav-link" href="/aboutme">About Me</a>
            </li>
        </ul>
        <a class="contactbtn fw-bold" href="/contactme">Contact Me</a>
    </div>
</nav>