<nav class="navbar navbar-expand-lg fw-bold navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
        <ul class="navbar-nav mx-auto toplinks mb-2 mb-md-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item mx-md-3">
            <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
            </li>
        </ul>
        <a href="#" class="contactbtn fw-bold">Contact Me</a>
        <!-- <button type="button" class="contactbtn fw-bold">Contact Me &#8595;</button> -->
        </div>
    </div>
</nav>