<% layout('./layouts/boilerplate.ejs') %>

<section class="aboutmesection">
    <section class="d-flex flex-column overflow-auto">
        <div class="filetitle">
            <h1 class="ms-md-5 fs-2 text-white">File Type: Confidential</h1>
        </div>
        <div class="basicinfo ms-md-5 fs-3 d-flex flex-column flex-md-row align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 fw-bold">Name:</div>
                    <div class="col-8"> Szymon Wieczorek</div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Age:</div>
                    <div class="col-8">24</div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 fw-bold">Sex:</div>
                    <div class="col-8">Male</div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 fw-bold">Occupation:</div>
                    <div class="col-8">Web Developer</div>
                </div>
            </div>
            <img src="../public/images/projectimgtest.png" alt="#" class="img-fluid fileimg ms-md-auto mt-3 me-md-4"> 
        </div>
        <div class="d-flex flex-column flex-md-row mt-5 w-75 mx-auto">
            <div class="me-md-5">
                <h3 class="fw-bold">Interests:</h3>
                <p class="fs-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, sit! Nihil beatae blanditiis culpa quia ad error magni? 
                    Voluptas sapiente accusamus dolorem possimus repudiandae ex cupiditate voluptatibus modi. Aliquam, quibusdam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, sit! Nihil beatae blanditiis culpa quia ad error magni? 
                    Voluptas sapiente accusamus dolorem possimus repudiandae ex cupiditate voluptatibus modi. Aliquam, quibusdam.
                </p>
            </div>
            <div class="ms-md-5 mb-5 mb-xl-0">
                <h3 class="fw-bold">Bio:</h3>
                <p class="fs-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, sit! Nihil beatae blanditiis culpa quia ad error magni? 
                    Voluptas sapiente accusamus dolorem possimus repudiandae ex cupiditate voluptatibus modi. Aliquam, quibusdam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, sit! Nihil beatae blanditiis culpa quia ad error magni? 
                    Voluptas sapiente accusamus dolorem possimus repudiandae ex cupiditate voluptatibus modi. Aliquam, quibusdam.
                </p>
            </div>
        </div>
    </section>
</section>