<% layout('./layouts/boilerplate.ejs') %>

<section class="d-flex flex-column justify-content-around align-items-center mx-auto my-auto bg-black contactformcontainer">
    <a href="mailto:wieczorekszymon4@gmail.com?subject=New Mail" class="openmail fw-bold">OPEN EMAIL APP</a>
    <div class="contactborder mailinfo">
        <figure class="d-flex align-items-center">
            <img src="../public/images/emailicon.png" alt="Mail Icon">
            <figcaption class="fw-bold ms-2">My Email: <br> wieczorekszymon4@gmail.com</figcaption>
        </figure>
    </div>
    <a href="../public/files/Szymon_Wieczorek_Resume.pdf" class="openmail fw-bold" download>Download my resume</a>
    <div class="contactborder">
        <figure class="d-flex align-items-center">
            <figcaption class="fw-bold">Check my GitHub: </figcaption>
            <a href="https://github.com/Loirise" target="_blank" rel="noopener noreferrer" class="githubicon ms-3"><i class="devicon-github-original-wordmark colored"></i></a>
        </figure>
    </div>
</section>