<% layout('./layouts/boilerplate.ejs') %>

<section class="container d-flex flex-column flex-lg-row justify-content-between topmainsection">
  <div class="col-12 col-lg-8">
    <div class="mb-5">
      <p class="title h1 text-wrap">Self Taught</p>
      <p class="title h1 text-wrap">Web Developer</p>
    </div>
    <div class="d-flex align-items-center">
      <img src="../public/images/dotx.png" alt="" class="d-none d-lg-inline dotx me-4">
      <p class=" h6 fw-bold ms-md-4 desc">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Aspernatur dicta quasi aperiam tempore nam molestias accusamus reprehenderit, 
        esse inventore at cum.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4 d-flex flex-column bg-transparent myinfoblock">
    <div class="">
      <div class="d-flex flex-column flex-column-reverse justify-content-between myinfo text-white">
        <a href="/aboutme" class="myname"><h3 class="text-start ms-3 mb-2">Szymon Wieczorek</h3></a>
        <h5 class="text-end me-3 mt-2">01</h5>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-end">
        <img src="../public/images/squareslashed.png" alt="" class="squareslashed">
      </div>
    </div>
  </div>
</section>

<section class="container botmainsection mx-auto">
  <div class="d-flex flex-column flex-lg-row">
    <div class="col-12  col-lg-3 order-3 order-lg-1">
      <button type="button" class="projectbtn  fw-bold">Projects &#8595;</button>
    </div>
    <div class="col-12 col-lg-3 order-1 order-lg-2">
      <button type="button" class="techbtn fw-bold">Tech stack &#8594;</button>
    </div>
    <div class="techstack fade-in-fwd col-12 col-lg-6 container-fluid flex-lg-row ms-3 ms-lg-5 order-2 order-lg-3">   
      <div class="row align-content-center mb-2 mb-md-0">
        <figure class="figure">
          <p class="h1"><i class="devicon-html5-plain"></i></p>
          <figcaption class="figure-caption text-dark text-center fw-bold">HTML</figcaption>
        </figure>
        <figure class="figure">
          <p class="h1"><i class="devicon-css3-plain"></i></p>
          <figcaption class="figure-caption text-dark text-center fw-bold">CSS</figcaption>
        </figure>
        <figure class="figure">
          <p class="h1"><i class="devicon-javascript-plain"></i></p>
          <figcaption class="figure-caption text-dark text-center fw-bold">JavaScript</figcaption>
        </figure>
        <figure class="figure">
          <p class="h1"><i class="devicon-bootstrap-plain"></i></p>
          <figcaption class="figure-caption text-dark text-center fw-bold">Bootstrap</figcaption>
        </figure>
        <figure class="figure">
          <p class="h1"><i class="devicon-nodejs-plain"></i></p>
          <figcaption class="figure-caption text-dark text-center fw-bold">NodeJS</figcaption>
        </figure>
        <figure class="figure">
          <p class="h1"><i class="devicon-express-original"></i></p>
          <figcaption class="figure-caption text-dark text-center fw-bold">Express</figcaption>
        </figure>
        <figure class="figure">
          <p class="h1"><i class="devicon-mongodb-plain"></i></p>
          <figcaption class="figure-caption text-dark text-center fw-bold">MongoDB</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="container projectsection fade-in-fwd">
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card homecard fitworkouts d-flex flex-column mx-auto">
        <div class="test"></div>
        <div class="numberdiv ms-auto bg-black">
          <h5 class="ms-2 text-white">01</h5>
        </div>
        <div class="d-flex mt-auto mb-2 justify-content-around">
          <a href="/projects" class="btn infobtn fw-bold">More Info</a>
          <a href="#" class="btn livebtn fw-bold">Live</a>
          <a href="#" class="btn repobtn fw-bold">Repo</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card homecard pickyourmeal d-flex flex-column mx-auto">
        <div class="test"></div>
        <div class="numberdiv ms-auto bg-black">
          <h5 class="ms-2 text-white">02</h5>
        </div>
        <div class="d-flex mt-auto mb-2 justify-content-around">
          <a href="/projects" class="btn infobtn fw-bold">More Info</a>
          <a href="#" class="btn livebtn fw-bold">Live</a>
          <a href="#" class="btn repobtn fw-bold">Repo</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-4">
      <div class="card homecard portfoliowebsite d-flex flex-column mx-auto">
        <div class="test"></div>
        <div class="numberdiv ms-auto bg-black">
          <h5 class="ms-2 text-white">03</h5>
        </div>
        <div class="d-flex mt-auto mb-2 justify-content-around">
          <a href="/projects" class="btn infobtn fw-bold">More Info</a>
          <a href="#" class="btn livebtn fw-bold">Live</a>
          <a href="#" class="btn repobtn fw-bold">Repo</a>
        </div>
      </div>
    </div>
  </div>
</section>

 