:root {
    --cyberyellow: #f2e900;
    --cyberlightblue: #02d7f2;
    --cyberblue: #007aff;
    --cyberred: #ff1111;
}

body {
    /* background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),
    url(../images/yellowbackground.jpg);
    background-size: cover;
    background-position: center; */
    background: linear-gradient(rgba(100,100,100,0.3), rgba(0,0,0,0.4));
    background-color: var(--cyberyellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 75vw;
    margin: 0 auto;
}

/* === NAVBAR LINKS === */
.toplinks .nav-link {
    color: #000 !important;
    border-bottom: .25rem solid transparent;
}

.toplinks .nav-link:hover, 
.toplinks .nav-link:focus {
    border-bottom-color: rgba(0,0,0,0.5);
}

.toplinks .active {
    border-bottom-color: rgba(0,0,0,0.5);
}

.contactbtn {
    text-decoration: none;
    border: none;
    outline: 3px solid black;
    background-color: transparent;
    color: #000;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contactbtn:hover {
    background-color: #000;
    color: var(--cyberlightblue);
}
/* === END - NAVBAR LINKS === */

/* === TOP MIDDLE SECTION === */
.topmainsection {
    margin-top: 5rem;
}
.title {
    font-weight: 700;
    font-size: 50px;
}

.dotx {
    width: 90px;
    height: 90px;
}
/* === END - TOP MIDDLE SECTION === */

/* === MY INFO BLOCK === */
.myinfoblock {
    width: 300px;
}

.myinfo {
    background-color: black;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
    width: 200px;
    height: 200px;
}

.myname {
    color: #fff;
    text-decoration: none;
}

.myname:hover {
    color: var(--cyberlightblue);
}

.squareslashed {
    width: 100px;
}
/* === END - MY INFO BLOCK === */

/* === BOTTOM MIDDLE SECTION === */
.botmainsection {
    margin: 4rem 0;
}

.projectbtn {
    border: none;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    margin: 20px;
    clip-path: polygon(5% 0%, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
    transition: transform 0.3s ease-in-out;
}

.projectbtn:hover {
    transform:  translate(0px, -10px);
    color: var(--cyberlightblue);
}

.techbtn {
    border: none;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    margin: 20px;
    clip-path: polygon(5% 0%, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
    transition: transform 0.3s ease-in-out;
}

.techbtn:hover {
    transform:  translate(-10px, 0px);
    color: var(--cyberlightblue);
}

.techstack {
    opacity: 0;
}

.figure img {
    width: 4rem;
    height: 4rem;
}

.figure img.widerimg {
    width: 6rem;
}

.figure img.bootstrapimg {
    width: 5rem;
    height: 4rem;
}
/* === END - BOTTOM MIDDLE SECTION === */

/* === HOME PROJECTS SECTION === */
.homecard {
    border-radius: 0;
    border: none;
    height: 300px;
    background-image: url('../images/projectimgtest.png');
    outline: 5px solid black;
}

.bg-black {
    background-color: #000;
}

.numberdiv {
    width: 2rem;
    height: 1.75rem;
}

.projectsection {
    opacity: 0;
}
/* === END - HOME PROJECTS SECTION  === */

/* === PROJECT LIVE + REPO BUTTON === */
.infobtn, .livebtn, .repobtn {
    border: none;
    border-radius: 0;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    clip-path: polygon(0 0, 90% 0%, 100% 15%, 100% 100%, 10% 100%, 0 85%);
    transition: transform 0.3s ease-in-out;
}

.infobtn:hover, .livebtn:hover, .repobtn:hover {
    transform:  translate(0px, -5px);
    color: var(--cyberlightblue);
}
/* === END - PROJECT LIVE + REPO BUTTON === */

/* PROJECTS */
.projectcard {
    clip-path: polygon(0 0, 96% 0, 100% 10%, 100% 100%, 3% 100%, 0 92%);
}

.projectcard2 {
    clip-path: polygon(3% 0, 100% 0, 100% 92%, 96% 100%, 0 100%, 0 6%);
}

.bigimg {
    width: 300px;
}

.projectbtns .livebtn, .projectbtns .repobtn {
    color: #000;
}

.projectbtns .livebtn:hover, .projectbtns .repobtn:hover {
    color: var(--cyberblue);
}
/* END - PROJECTS */

/* ABOUTME */
.aboutmesection {
    margin-top: 1rem;
    position: relative;
    background-color: #000;
    height: 90vh;
    clip-path: polygon(0 5%, 5% 0, 55% 0, 60% 5%, 100% 5%, 100% 95%, 80% 95%, 75% 100%, 25% 100%, 20% 95%, 0 95%, 0 70%);
}

.aboutmesection section {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: linear-gradient(rgba(100,100,100,0.3), rgba(0,0,0,0.4));
    background-color: var(--cyberyellow);
    clip-path: polygon(0 5%, 5% 0, 55% 0, 60% 5%, 100% 5%, 100% 95%, 80% 95%, 75% 100%, 25% 100%, 20% 95%, 0 95%, 0 70%);
}

.filetitle {
    background-color: #000;
    height: 5%;
    padding-left: 17%;
}

.traits {
    width: 90%;
    margin-top: 5rem;
}

.basicinfo .container .row {
    margin-top: 1.5rem;
}
.basicinfo .container .row:first-child {
    margin-top: 0;
}

/* END - ABOUTME */


/* === OTHER === */
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.5s ease-in both;
	animation: fade-in-fwd 0.5s ease-in both;
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.fade-out-bck {
	-webkit-animation: fade-out-bck 0.5s ease-out both;
	animation: fade-out-bck 0.5s ease-out both;
}

@-webkit-keyframes fade-out-bck {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
}

@keyframes fade-out-bck {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
}
/* === END - OTHER === */